*.swp
*.*~
app/tmp/cache/persistent/*
app/tmp/cache/persistent/cake_*
*/tmp/cache/persistent/cake_*
*/tmp/cache/*
*/tmp/cache/*/*
*/tmp/logs/*
*/tmp/sessions/*
*/tmp/tests/*
.project
.cache
.cache/*
.settings
.settings/*
